h1 {
  font-size: 1.45rem;
}

.gameGrid {
  display: grid;
  grid-template-columns: 80px, 80px, 80px, 80px;
}

.box {
  border: 1px black solid;
  background-color: #C3DAFF;
  color: rgba(255,255,255,0);
}

.clicked {
  background-color: black;
}
