html {
  background-color: rgba(20, 20, 30, 1);
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.9);
  display: grid;
}

h1 {
  font-size: 1.5rem;
}

ul {
  border-bottom: .05rem solid rgba(255, 255, 255, 1);
}

 li {
  border: .05rem solid rgba(255, 255, 255, 1);
  border-radius: 5px 5px 0px 0px;
  display: inline;
  list-style-type: none;
  padding: 0rem .5rem 0rem .5rem;
  margin-right: .5rem;
}
/*
li {
  border: solid 1px red;
} */
